<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="com/example/common/logging/base-appenders.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.example.common.logging.RequestLoggingFilter" level="INFO" additivity="false">
        <appender-ref ref="FILE_REQUESTS" />
    </logger>

    <logger name="com.example.common.logging.ResponseLoggingFilter" level="INFO" additivity="false">
        <appender-ref ref="FILE_RESPONSES" />
    </logger>

    <logger name="com.example.itemservice" level="INFO" additivity="false">
        <appender-ref ref="FILE_SERVICE" />
        <appender-ref ref="CONSOLE" />
    </logger>
    
    <!-- Filter ItemService business logic logs to file only, keep application startup on console -->
    <logger name="com.example.itemservice.service.ItemService" level="INFO" additivity="false">
        <appender-ref ref="FILE_SERVICE" />
    </logger>

    <logger name="com.example.itemservice.config" level="DEBUG" additivity="false">
        <appender-ref ref="FILE_SERVICE" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- reduce log noise -->
    <logger name="io.swagger.v3.core.converter.ModelConverterContextImpl" level="INFO" />
    <logger name="org.apache.catalina.util.LifecycleBase" level="INFO" /> 
    <logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory" level="INFO" />
    <logger name="org.springframework.cloud.config" level="INFO" />
    <logger name="org.springframework.cloud.config.client.ConfigServerConfigDataLoader" level="WARN" />
    <logger name="org.springframework.cloud.context" level="INFO" />
    <logger name="org.springframework.core.env.PropertySourcesPropertyResolver" level="INFO" />
    <logger name="org.springframework.core.env.StandardEnvironment" level="INFO" />
    <logger name="sun.net.www.protocol.http.HttpURLConnection" level="INFO" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
