<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="com/example/common/logging/base-appenders.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_CONSOLE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/console.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/console-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.example.common.logging.RequestLoggingFilter" level="INFO" additivity="false">
        <appender-ref ref="FILE_REQUESTS" />
    </logger>
    <logger name="com.example.common.logging.ResponseLoggingFilter" level="INFO" additivity="false">
        <appender-ref ref="FILE_RESPONSES" />
    </logger>

    <logger name="com.example.itemservice" level="DEBUG" additivity="false">
        <appender-ref ref="FILE_SERVICE" />
        <appender-ref ref="CONSOLE" />
    </logger>
    
    <logger name="com.example.itemservice.service.ItemService" level="INFO" additivity="false">
        <appender-ref ref="FILE_SERVICE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE_CONSOLE" />
    </root>
</configuration>